<footer class="primary-footer">
<!--   <div class="subscribe-newsletter-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="text-center common-heading"> Subscribe to Our Newsletter </div>
          <p class="text-center">New products, new ideas and a whole bunch of madness delivered to your inbox as it happens!</p>
          <form>
            <div class="row">
              <div class="col-sm-5 form-group">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
              <div class="col-sm-5 form-group">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Name">
              </div>
              <div class="col-sm-2 form-group">
                <button class="btn btn-block btn-subscribe">
                  SUBSCRIBE
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-sm-4">

        <ul class="social">
          <li>
            <a href="javascript:void(0);" class="fa fa-facebook"></a>
          </li>
          <li>
            <a href="javascript:void(0);" class="fa fa-instagram"></a>
          </li>
        </ul>

      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <h3 class="decorated-heading">
              <span>Sobre nosotros</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="../Contacto">Contacto</a></li>
              <li><a href="../Nosotros">Nosotros</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h3 class="decorated-heading">
              <span>M&aacute;s Informaci&oacute;n</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">Blog</a></li>
              <li><a href="javascript:void(0);">Pol&iacute;tica de Seguridad</a></li>
              <li><a href="javascript:void(0);">Terminos de uso</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h3 class="decorated-heading">
              <span>Contactanos</span>
            </h3>
            <ul class="footer-nav">
              <li><a href="javascript:void(0);">418-184-9862</a></li>
              <li><a href="javascript:void(0);">juantoniomac03@gmail.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



</footer>
